*{
  box-sizing: border-box;
  margin: 0;
}


body{
  width: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
}

header{
  /* border: solid; */
  height: 500px;
  background: url(../img/saru3.jpg);
  background-attachment: fixed;
  overflow: visible;
  height: 100vh;
  background-color: black;
  background-position:  center top;
  background-size: 1200px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* .menu{
  border: 1px solid red;
  padding: 20px;
  background-color: black;
} */
h1{
  /* border: 2px solid rgb(255, 107, 232); */
  /* padding-top: 80px; */
  width: 100%;
  /* margin-top: 180px; */
  font-size: 136px;
  text-align: center;
  letter-spacing: 0.1em;
  word-spacing: 30px;
  /* -webkit-text-stroke: 2px  rgb(248, 231, 29); */
  /* color: white; */
  /* color: black; */
  text-shadow: 
    0 0 5px black,
    0 0 10px black,
    0 0 20px black,
    0 0 40px rgb(248, 231, 29),
    0 0 80px rgb(248, 231, 29),
    0 0 90px rgb(248, 231, 29),
    0 0 100px rgb(248, 231, 29),
    0 0 150px rgb(248, 231, 29);
}
.header-2{
  /* border: 2px solid red; */
  margin-top: 25px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  word-spacing: 3px;
  padding: 30px 100px;
  line-height: 40px;
  /* padding-bottom: 40px; */
}
nav div{
  /* border: 2px solid palevioletred; */
  position: relative;
  left: 0;
  top: 300px;
}
ul{
  /* border: solid  red; */
  width: 100%;
  text-align: center;
  /* border: 1px solid red; */
  padding: 30px;
  background-color: rgb(34, 34, 34);
  position: fixed;
  z-index: 10;
}
ul li{
  /* border: solid red; */
  display: inline;
  font-size: 30px;
  margin: 0px 35px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(248, 231, 29);
    transform: rotate(30deg);
    /* -moz-transform: (30deg);
    transition:  all 0.3s linear; */
  }
  nav ul li a:hover{
    text-decoration: underline;
    /* transform: rotate(0deg); */
  }

/* メイン＿セクション */
.yellow{
  background-color: rgb(248, 231, 29);
  width: 100%;
  /* height: 800px; */
}
.section1-1{
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.1em;
  word-spacing: 10px;
  -webkit-text-stroke: 0.5px  black;
  color: transparent;
  margin: 0px 200px 0px 200px;
  padding-top: 70px;
  font-weight: 600;
  -webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
  /* overflow: hidden; */
}
.section1-1:hover{
  -webkit-transform: scale(1.2);
transform: scale(1.2);
}
.section1-2{
  font-size: 40px;
  margin: 50px 100px 0px 100px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.hidden_box {
  margin: 20px 0px 30px 0px;/*前後の余白*/
  padding-bottom: 40px;
  /* text-align: center; */
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  border: solid 2px black;
  cursor :pointer;
  border-radius: 50%;
}

/*ボタンホバー時*/
.hidden_box label:hover {
 background-color: black;
 color: rgb(248, 231, 29);
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0px;
  height: auto;
  opacity: 1;
}

/* 有名な動物 */
.black{
  /* border: 3px solid blue; */
  width: 100%;
  /* height: 800px; */
  padding: 40px ;
  /* padding-bottom: 50px; */
  /* background: rgb(214, 255, 245); */
  background: linear-gradient(180deg,rgb(214, 255, 245) 0%, black 450px, black 100px, black 100%);
}
.s1{
  /* border: 2px solid navy; */
  font-size: 60px;
  text-align: center;
  -webkit-text-stroke: 0.5px  black;
  color: transparent;
  word-spacing: 10px;
  padding-top: 40px;
  -webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.s1:hover{
  /* color: rgb(55, 255, 205); */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  /* color: rgb(255, 107, 232); */
  /* text-shadow: 1px 3px 9px black; */
}
.most{
  text-align: center;
}
#most1,#most2{
  margin-top: 80px;
  /* border: 3px solid palevioletred; */
  /* background-color: rgb(248, 231, 29); */
  width: 49%;
  height: 450px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  /* margin: auto; */
  /* float: left; */
  position: relative;
}
#most1 .caption, #most2 .caption{
  font-size: 50px;
  color: white;

  padding: 200px 200px;
  /* padding-right: 210px; */
}
#most1 .mask, #most2 .mask{
  widows: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
	background-color:	rgba(253, 147, 237, 0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
#most1:hover .mask, #most2:hover .mask{
  opacity: 1;
  /* padding-left: 40%; */
}

#most1 img, #most2 img{
 display: inline-block;
 height: 444px;
 width: 100%;
 margin-bottom: 70px;
}


/* セクション３ */
.sec3{
  border: 7px solid rgb(214, 255, 245);
  border-bottom: none;
  border-left: none;
  border-right: none;

  /* widows: 100%; */
  height: 950px;
  background-color: black;
}
.history{
  /* border: 2px solid rgb(255, 107, 232); */
  margin-bottom: 30px;
  margin-top: 40px;
  height: 100px;
  font-size: 80px;
  text-align: center;
  -webkit-text-stroke: 1px rgb(214, 255, 245);
  color: transparent; 
  font-weight: 900;
  letter-spacing: 10px;
}
.history a:hover{
  text-decoration: underline;
  /* font-size: 100px; */
}
.history a{
  text-decoration: none;
  -webkit-text-stroke: 1px rgb(214, 255, 245);
  color: transparent; 
}
.his{
  width: 100%;
  letter-spacing: ;
}
.his1,.his2{
  /* border: 2px solid red; */
  width: 40%;
  display: block;
  float: left;
  height: 600px;
  padding: 30px;
  color: rgb(214, 255, 245);
}
.his1-1{
  /* border: 1px solid green; */
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
}
.his1-2{
  font-size: 30px;
  line-height: 40px;
  /* border: 1px solid red; */
  margin-left: 40px;
}
.his2{
  /* border: 2px solid green; */
  width: 60%;
  padding: 40px;
}
.his2 img{
  height: 570px;
  max-width: 100%;
  overflow: hidden;
  margin-top: 30px;

}


article{
  /* border: 2px solid purple; */
  background-color: rgb(248, 231, 29);
  padding-bottom: 60px;
  height: 100%;
}
h3{
  font-size: 50px;
  text-align: center;
  -webkit-text-stroke: 0.5px  black;
  color: transparent;
  padding: 50px 0 50px 0;
}
.ttt{
  display: inline-block;
  padding: 0.3em;
  -webkit-text-stroke: 0.5px  black;
  color: transparent;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ttt:hover{
  -webkit-transform: scale(1.5);
    transform: scale(1.5);
  /* animation: zoom .6s; */
  /* color: black; */
}

#dyk{
  margin: auto;
  box-sizing: border-box;
  background-color: rgb(248, 231, 29);
  /* border: 3px solid green; */
  width: 100%;
  height: 700px;
  overflow: hidden;
}
#dyk1 div, #dyk2  div, #dyk3 div{
  /* border: 1px solid hotpink; */
  background-color: rgb(248, 231, 29);
  width: 33.33%;
  height: 350px;
  display: block;
  float: left;
}
figure img{
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
/* .hover1 {
   width: 300px;
   height: 300px;
   position: relative;
   margin: 0 auto;
   overflow: hidden;
   border-radius: 50%;
  } */

/* .hover2{
   width: 300px;
   height: 300px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(255, 255, 255, 0.5);
   opacity: 0;
   color: black;
   text-align: center;
   display: inline-flex;
   align-items: center;
   margin: 0 auto;
  } */
  /* .hover2:hover{
   opacity: 1;
   transition:all 0.6s ease;
  } */

  /* .t22{
    display: block;
    max-width: 100%;
    height: auto;
    transition: 0.5s;
  } */
  /* .t22:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    cursor: pointer;
  } */
  .t2{
    /* border: 6px dotted #ddd; */
    /* width: 400px; */
    /* height: 400px; */
    /* overflow: hidden; */
    /* margin: 0 auto; */
  }

  figure{
   width: 300px;
   height: 300px;
   margin: 0 auto;
   padding: 0;
   /* background: #fff; */
   overflow: hidden;
   border-radius: 50%;
  }
  figure img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  figure:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  #dyk p{
    text-align: center;
    font-size: 25px;
    margin: 10px;
  }




footer{
  border: 2px solid gold;
  height: 300px;
  background: url(../img/monkey.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 60% 100%;
} 

footer div{
  margin-top: 70px;
  /* border: 2px solid red; */
  width: 70%;
  height: 200px;
  float: right;
  text-align: center;
}
footer h4{
  /* border: 1px solid green; */
  text-align: center;
  font-size: 40px;
  color: rgb(248, 231, 29);
  /* transition:  all 0.2s linear; */
}
 /* footer h4:hover{
  transform: scale(1.5);
 } */


footer li{
  list-style: none;
  display: inline;
}

footer img{
  /* border: 1px solid palevioletred; */
  width: 70px;
  height: 70px;
  position: relative;
  top: 20px;
  /* left: 25px; */
  margin: 3px 10px;
  /* -moz-transform: (30deg); */
    transition:  all 0.2s linear;
}
footer img:hover{
  transform: rotate(40deg);
}


.fb1 img{
  padding: 3px;
}

h5{
  margin-top: 270px;
  /* border: 1px solid paleturquoise; */
  color: rgb(248, 231, 29);
  text-align: center;
  width: 100%;
  font-size: 20px;
}